/* font-family: 'Crimson Pro', serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif; */

:root {
  --font-size-x-large: calc(2.175rem + 1vw);
  --font-size-large: calc(1rem + 0.6vw);
  --font-size-normal: calc(0.7rem + 0.9vw);
  --font-size-small: calc(0.725rem + 0.2vw);
  --font-size-tiny: calc(0.6rem + 0.2vw);

  --font-weight-thin: 200;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --family-montserrat: 'Montserrat', sans-serif;
  --family-crimson: 'Crimson Pro', serif;
  --family-Lora: 'Lora', serif;

  --bg-color: #181719;
  --font-color: #ffffff;

  --font-color-footer: #A9A9A9;
  --shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  @media screen and (prefers-color-scheme: light) {
    --bg-color: #ffffff;
    --font-color: #181719;
    --shadow: 0px 4px 4px 0px rgba(255, 255, 255, 0.75);

    .card {
      border: solid 1px var(--font-color);
    }
  }
}

/*reset css*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

/*****/
body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-color);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/***** header *****/
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.75rem;
}

.logo {
  display: inline-block;
  padding: 0.3rem 1rem;
  border: solid 1px var(--font-color);
  text-align: center;
}

.logo a {
  text-decoration: none;
  font-family: var(--family-crimson);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-thin);
  color: var(--font-color);
}

nav {
  position: fixed;
  background-color: var(--bg-color);
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translate(100%);
  transition: all ease .5s;
}

.show {
  transform: translate(0);
}

.menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.menu__li {
  list-style: none;
  text-align: center;
  width: 100%;
}

.menu__link {
  font-family: var(--family-crimson);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-medium);
  color: var(--font-color);
  text-decoration: none;
  position: relative;
  padding: 1rem 0;
}

.menu__link:hover::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 15%;
  width: 100%;
  height: 2px;
  background-color: var(--font-color);
}

.menu__hamburger {
  width: 2.375rem;
  height: 2.375rem;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.menu__line {
  background-color: var(--font-color);
  width: 77.9%;
  height: 8.5%;
  position: absolute;
  left: 11.05%;
  transition: all 300ms ease-in-out;
}

.menu__line:nth-child(1) {
  top: 22.875%;
}

.menu__line:nth-child(2) {
  transition-delay: 250ms;
  top: 45.75%;
}

.menu__line:nth-child(3) {
  top: 68.625%;
}

.clicked {
  position: fixed;
  top: 1rem;
  right: 0.75rem;
}

.active:nth-child(2) {
  transition: all 150ms ease-in-out;
  opacity: 0;
}

.active:nth-child(1) {
  transform: rotate(-45deg);
  top: 45.75%;
}

.active:nth-child(3) {
  transform: rotate(45deg);
  top: 45.75%;
}

/***** main *****/

main {
  display: flex;
  flex-direction: column;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: space-between;
  gap: 1.75rem;
  padding: 2rem 0 2rem 0.75rem;
}

.text-container h1 {
  font-family: var(--family-Lora);
  font-size: var(--font-size-x-large);
  font-weight: var(--font-weight-medium);
  color: var(--font-color);
  margin: 0;
}

.text-container p {
  font-family: var(--family-montserrat);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-normal);
  color: var(--font-color);
  width: 70%;
}


.text-container__link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.text-container__link a {
  text-decoration: none;
  font-family: var(--family-montserrat);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-bold);
  color: var(--font-color);
}

.text-container__icon {
  padding-top: 2px;
  width: var(--font-size-normal);
  height: var(--font-size-small);
  fill: var(--font-color);
}


.hero {
  padding: 0 0.8rem;
  position: relative;
  padding: 0 calc(0.75rem + 1.5vw);
}

.card {
  position: absolute;
  top: 80%;
  right: 5%;
  width: 80%;
  background-color: var(--bg-color);
  padding: 1.25rem 1.5rem;
  box-shadow: var(--shadow);
}

.card__user-info {
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: center;
  margin-bottom: 1rem;
}

.card__img {
  width: 20%;
  border-radius: 50%;
}

.card__title-info {
  font-family: var(--family-montserrat);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  color: var(--font-color);
  margin-bottom: 0.35rem;
}

.card__text-info {
  font-family: var(--family-montserrat);
  font-size: var(--font-size-tiny);
  font-weight: var(--font-weight-medium);
  color: var(--font-color);
}

.card__title {
  font-family: var(--family-Lora);
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  color: var(--font-color);
  width: 65%;
}


/***** footer *****/

footer {
  margin-top: 8rem;
  width: 100%;
  text-align: center;
}

.footer-text {
  font-family: var(--family-montserrat);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-bold);
  color: var(--font-color-footer);
  margin: 1.5rem auto;
}



@media screen and (min-width: 1200px) {

  header {
    padding: 2.625rem 4.8125rem;
    margin-bottom: 7rem;
  }

  #btn-hamburger {
    display: none;
  }

  nav {
    position: relative;
    transform: translate(0);
  }

  .menu {
    flex-direction: row;
    gap: 5.325rem;
  }

  main {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 4.75rem;
  }

  .text-container {
    justify-content: center;
    gap: 2.5rem;
    width: 40%;
  }

  .text-container,
  .hero {
    padding: 0;
  }

  .hero {
    width: 60%;
  }

  .card {
    width: 52%;
    top: 85%;
    right: 4%;
  }

  .card__user-info {
    margin-bottom: 2rem;
  }

  .card__img {
    width: 22%;
    margin-right: 0.5rem;
  }

  .card__title-info {
    margin-bottom: 0.5rem;
  }

  .card__title {
    width: 75%;
    margin-bottom: 1rem;
  }

  footer {
    margin-top: 14rem;
  }
}